@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';

@import './vendors/bulma';

.reset-button {
  background: transparent;
  border: none;
  outline: none;
}

button,
.button {
  text-transform: uppercase;
}
