@keyframes cartIconAnimation {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.contentWrap {
  width: 300px;

  .product {
    display: flex;
    align-items: center;

    &Content {
      display: flex;
    }

    &Price {
      margin-left: auto;
    }
  }
}

.image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconWrap {
  position: relative;

  &.isBigger {
    .counter {
      top: -3px;
      right: 2px;
      width: 28px;
      font-size: 12px;
    }
  }

  .counter {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 7px;
    display: inline-block;
    background-color: blue;
    border-radius: 25px;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;

    &.withAnimation {
      animation: cartIconAnimation 0.25s;
    }
  }
}
