@import 'scss/utils/all';
@import '~bulma/sass/utilities/_all.sass';

.dropdown.user-menu {
  &.is-active {
    .non-auth-menu {
      @include until($desktop) {
        transform: translateX(0);
        animation: none;
        left: 0;
        visibility: visible;
      }
    }

    .auth-menu {
      transform: translateX(0);
    }
  }

  .non-auth-menu {
    @include until($desktop) {
      visibility: hidden;
      display: block;
      transform: translateX(100%);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      will-change: transform, visibility;
      transition: transform 0.3s getEasing(movement),
        visibility 0.3s getEasing(movement);
      animation: none;
    }
  }

  .dropdown-content {
    @include until($desktop) {
      width: 100%;
      height: 100%;
      padding: 15px;
    }
  }

  .nav-item {
    @include until($desktop) {
      padding: 0;
    }
  }

  .close-button {
    display: block;
    margin-left: auto;

    &.non-auth {
      @include desktop {
        display: none;
      }
    }
  }

  .auth-menu {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    will-change: transform, visibility;
    transform: translateX(100%);
    transition: transform 0.3s getEasing(movement),
      visibility 0.3s getEasing(movement);
  }
}
